h1{
    font-family: 'Montserrat', sans-serif;
}

.secaoCadastro {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.secaoCadastro img {
    height: auto; 
    width: auto;  /* Isso permite que a imagem ocupe o espaço disponível */
}

body{
    background-color: #FBF8F4;
    text-align: center;
}