.conjuntoTextos {
    text-align: left;
}

.conjuntoBotoes {
    justify-content: left;
    display: flex;
}

.textoH1 {
    font-size: 34px;
    color: #4B626C;
    text-align: left;
}
  
.textoH2 {
    font-size: 24px;
    color: #4B626C;
    text-align: left;
} 

.textoH3 {
    font-size: 24px;
    color: #FBF6F0;
    text-align: justify;
}

.grid_container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
}

.txt_item {
    padding: 4rem;
    margin: 1rem;
    color: #4B626C;
    background-color: #FBF6F0;
    border-color: #FBF6F0;
}

.jogos_adicionados {
    color: white;
    background-color: #4B626C;
    padding: 3rem;
    justify-content: flex-end;
}

.grid_container_jogos {
    display: grid;
    grid-template-columns: auto auto;
}

.grid_container_jogos > div {
    padding: 10px;
    margin: 10px;
    font-size: 27px;
    text-align: center;
}

.grid_container_jogos img {
    width: 190px;
    height: 250px;
}

.botao {
    font-size: 100px;
    width: auto;
}

@media screen and (max-width: 980px) {
    .txt_item {
        padding: 2rem;
    }

    .conjuntoBotoes {
        justify-content: center;
    }

    .grid_container {
        grid-template-columns: auto;
    }

    .grid_container_jogos {
        grid-template-columns: auto;
    }

    .textoH1 {
        font-size: 24px;
        text-align: center;
    }

    .textoH2 {
        font-size: 20px;
    }

    .textoH3 {
        font-size: 18px;
    }
}