/* Estilização do Header */
.flexContainer {
    margin: -2rem;
    padding: 60px;
    background: #FBF6F0;
    color: white;
    font-size: 30px;
    border-style: solid;
    border-width: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .flexContainer > div {
    margin: 10px;
}

.botao{
  align-items: center;
}

img{
  cursor: pointer;
  height: 10rem;
}