/* Estilização do Header */

header {
  position: relative;
  z-index: 2;
  outline: none;
  border: none; /* Remove bordas */
  box-shadow: none; /* Remove sombras */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #666666;
  z-index: 1; /* Certifique-se de que esteja acima de tudo */
}

.caixaTexto {
  color: #97A4A273;
}

.exibirOpcao { /* Serve para ter controle se as opçãos aparecem ou nao*/
  display: flex;
}

.flexContainer { /* Configurações do Flex Container principal do Header*/
    position: relative;
    margin: auto;
    padding: 0;
    background-color: #FBF6F0;
    color: white;
    font-size: 30px;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
.flexContainer div {
  max-height: 1173px;
  max-width: 430px;
  margin: 10px;
}

.menuToggle { /* Estilização do menu hamburguer */
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  align-items: center;
  width: 59px;
  height: 40px;
}

.botao{
  align-items: center;
}


.imagemLogo {
  max-height: 90px; /* Mantém a proporção da imagem */
  max-width: 90px; /* Garante que a largura da imagem não ultrapasse o contêiner */
  cursor: pointer;
  display: flex;
}

@media (max-width: 870px) {
  .exibirOpcao {
    display: none; /* Esconde os itens de navegação */
  }
  
  .menuToggle {
    display: flex; /* Libera a visualização do Menu*/
    align-items: center;
    justify-content: center;
  }

  /* fullscreen */

  .flexContainer.mobile {
    flex-direction: column;
    background-color: #4B626C;
    border-color: #4B626C;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 3rem;
  }
  
  .menuSection.on {
    
    
  }
  
  .exibirOpcao.hamburguer {
    display: flex;
  }

  .imagemLogo.hidden {
    display: none;
  }


}