.secaoCadastro {
    display: grid;
    grid-template-columns: auto auto;
    gap: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.secaoCadastro > div {
    width: auto;
    margin: 10px;
    padding: 10px
}

.secaoCadastro img {
    height: auto; 
    width: auto;  /* Isso permite que a imagem ocupe o espaço disponível */
}

.container_form_flex{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.conteudo {
    align-items: center;
}

body{
    background-color: #FBF8F4;
    font-family: 'Montserrat', sans-serif;
}